### The code below performs a brief exploratory data analysis (EDA) prior to collecting the final dataset for model training.

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

SQLALCHEMY_DATABASE_URL = "postgresql://user:password@host:dbname"

engine = create_engine(SQLALCHEMY_DATABASE_URL)
SessionLocal = sessionmaker(autocommit=False, autoflush=False, bind=engine)

In [2]:
#load data from data base, user - information about users, post - topic and text of posts, 
#feed - contains the target, if user like a post or not
user = pd.read_sql("SELECT * FROM user", engine)
post = pd.read_sql("SELECT * FROM post", engine)
feed = pd.read_sql("SELECT * FROM feed LIMIT 500000", engine)

In [3]:
user.head(2)

   user_id  gender  age country       city  exp_group       os source
0      200       1   34  Russia  Degtyarsk          3  Android    ads
1      201       0   37  Russia     Abakan          0  Android    ads

In [4]:
post.head(2)

   post_id                                               text     topic
0        1  UK economy facing major risks\n\nThe UK manufa...  business
1        2  Aids and climate top Davos agenda\n\nClimate c...  business

In [5]:
feed.head(2)

            timestamp  user_id  post_id action  target
0 2021-11-24 18:44:04   140863     4653   view       0
1 2021-11-24 18:45:24   140863     7176   view       0

In [6]:
user.shape, post.shape, feed.shape

((163205, 8), (7023, 3), (500000, 5))

In [3]:
#TF-IDF
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer()
tfidf.fit(post['text'])

TfidfVectorizer()

In [4]:
# Transform the text data
tfidf_matrix = tfidf.transform(post['text'])

# Get feature names
names = tfidf.get_feature_names_out()

# Create a new DataFrame to store mean TF-IDF values
mean_tfidf = pd.DataFrame(columns=['mean_tfidf'])

# Calculate mean TF-IDF for each document
for i in range(len(post)):
    f_df = pd.DataFrame(tfidf_matrix[i].T.todense(), index=names, columns=['tfidf'])
    f_df_mean = f_df.mean()
    mean_tfidf.loc[i] = f_df_mean['tfidf']

# Append the mean TF-IDF values to the original DataFrame
post = pd.concat([post, mean_tfidf], axis=1)
post.rename(columns={'mean_tfidf': 'Mean_TFIDF'}, inplace=True)

In [5]:
post = post.drop('text', axis=1)

In [6]:
df_merged = pd.merge(feed, post, on='post_id')
df_merged.head(2)

            timestamp  user_id  post_id action  target  topic  Mean_TFIDF
0 2021-12-13 17:12:55    32135     2810   view       0  covid    0.000074
1 2021-12-16 14:04:50   160497     2810   view       0  covid    0.000074

In [7]:
df_merged.shape

(500000, 7)

In [8]:
df = pd.merge(df_merged, user, on='user_id')
df.head(3)

,timestamp,user_id,post_id,action,target,topic,Mean_TFIDF,gender,age,country,city,exp_group,os,source
0,2021-12-13 17:12:55,32135,2810,view,0,covid,0.000074,0,21,Russia,Starokucherganovka,3,Android,ads
1,2021-12-13 17:14:55,32135,3009,view,0,covid,0.000074,0,21,Russia,Starokucherganovka,3,Android,ads
2,2021-12-13 17:17:36,32135,1477,view,0,sport,0.000135,0,21,Russia,Starokucherganovka,3,Android,ads

In [9]:
df.shape

(500000, 14)

In [10]:
df.dtypes

timestamp     datetime64[ns]
user_id                int64
post_id                int64
action                object
target                 int64
topic                 object
Mean_TFIDF           float64
gender                 int64
age                    int64
country               object
city                  object
exp_group              int64
os                    object
source                object
dtype: object

You could drop the data that has little or no impact or correlate with target that could negativelly influence the model quality,
for example:

In [11]:
df = df.drop('city', axis=1)
df = df.drop('gender', axis=1)
df = df.drop('action', axis=1)

In [12]:
correlation = df.corr().abs()
correlation.style.background_gradient(cmap='Purples', low=0, high=1)

In [13]:
s = correlation.unstack()
so = s.sort_values(ascending=False)
so.head(45)

user_id     user_id       1.000000
post_id     post_id       1.000000
age         age           1.000000
Mean_TFIDF  Mean_TFIDF    1.000000
target      target        1.000000
exp_group   exp_group     1.000000
Mean_TFIDF  post_id       0.120408
post_id     Mean_TFIDF    0.120408
exp_group   age           0.069281
age         exp_group     0.069281
            user_id       0.065549
user_id     age           0.065549
age         post_id       0.023187
post_id     age           0.023187
user_id     exp_group     0.013690
exp_group   user_id       0.013690
target      exp_group     0.005208
exp_group   target        0.005208
            post_id       0.004701
post_id     exp_group     0.004701
user_id     post_id       0.003310
post_id     user_id       0.003310
age         Mean_TFIDF    0.002402
Mean_TFIDF  age           0.002402
target      user_id       0.002368
user_id     target        0.002368
            Mean_TFIDF    0.002261
Mean_TFIDF  user_id       0.002261
target      post_id       0.002052
post_id     target        0.002052
Mean_TFIDF  exp_group     0.000813
exp_group   Mean_TFIDF    0.000813
age         target        0.000354
target      age           0.000354
Mean_TFIDF  target        0.000076
target      Mean_TFIDF    0.000076
dtype: float64

Let's also examine the variance of numerical features to identify and potentially remove those with low variability

In [14]:
num = df.select_dtypes(include=np.number)
num.var()

user_id       1.918025e+09
post_id       4.378487e+06
target        9.624053e-02
Mean_TFIDF    4.301346e-09
age           1.119489e+02
exp_group     1.948352e+00
dtype: float64